body {
    padding-top: 70px;
}
.container {
    width: 1024px;
    margin: 0 auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fafafa;
    border-bottom: 2px solid #ccc;
    height: 70px;
}
.navigation {
    height: 70px;
    display: flex; /* make this a flexbox container */
    justify-content: space-between; /* place our items as far apart from each other as possible */
    align-items: center; /* vertically align items */
}
.brand {
    color: transparent;
    background: url(../images/z.png) no-repeat top left;
    background-size: contain;
    height: 60px;
    width: 60px;
    float: left;
    overflow: hidden;
}
.menu {
    display: flex;
    align-items: stretch;
    height: 70px;
}
.menu-link {
    display: block;
    padding: 25px 10px;
    text-decoration: none;
    color: #09c;
}
.menu-link:hover {
    background: #09c;
    color: white;
}